# git+https://github.com/supervisely/supervisely.git@test-sdk-branch

supervisely[training]==6.73.564
supervisely[tracking]==6.73.564
supervisely[model-benchmark]==6.73.564

torch==2.7.1
torchvision==0.22.1
onnx==1.16.1
onnxruntime-gpu==1.19.2
tensorrt-cu12==10.13.2.6
tensorboard==2.19.0
ultralytics==8.3.88
